<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coding.higamerapp">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".hiGamerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icona_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icona_app_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="KEY"/>

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    </application>
</manifest>